$text-input: #333;
$text-search: #666;
$background-button-main: #f50;
$background-button-main-dark: rgb(204, 69, 1);
$background-button-main-light: rgb(253, 132, 71);
$text-button: #fff;
$border-color-input: #ccc;
$border-color-button-secondary: #e5e5e5;
$background-nav: #333;
$nav-text: #fff;
$background-white: #fff;
$background-grey: #f2f2f2;
$background-search: #e5e5e5;
$background-modal-button: #4285f4;
$text-errors: #cf0000;
$text-fine-print: #999;
$text-small-link: #38d;
$background-clear: #00000000;
$text-nav: #ccc;
$blue-button: #4285f4;