html {
	position: relative;
    height: 100%;
	background-color: $background-grey;
	font-family: $sans-serif;
	color: #333;

}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 23px;
	font-weight: 100;
	color: #333;
}

p {
	color: #999;
	font-size: 14px;
}

button {
	background-color: $background-button-main;
	border-color: $background-button-main;
	color: $text-button;
	font-weight: 100;
	border-radius: 3px;
	font-family: $sans-serif;
	font-size: 14px;
	text-align: center;
}

button:hover {
    cursor: pointer;
}

a:hover {
	cursor: pointer;
	color: white;
}

input[type="text"] {
    background-color: $background-white;
	border-color: $border-color-input;
	border-style: solid;
	border-width: 1px;
	color: $text-input;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	font-size: 18px;
	text-align: left;
	height: 38px;
	width: 398px;
}

input[type="password"] {
    background-color: $background-white;
	border-color: $border-color-input;
	border-style: solid;
	border-width: 1px;
	color: $text-input;
	padding: 7px 9px;
	border-radius: 3px;
	text-align: left;
	height: 38px;
	width: 398px;
	font-size: 18px;
}

input[type="submit"] {
	background-color: $background-button-main;
	font-family: $sans-serif;
	color: $text-button;
}

input[type="search"] {
	font-family: $sans-serif;
	box-sizing: border-box;
    outline: 0;
	background: $background-search;
	width: 100%;
	color: #666;
    outline: 0;
    border: 0;
	padding: 5px 7px;
	height: 28px;
	border-radius: 3px;
}

.auth-errors {
	color: $text-errors;
	font-size: 14px;
	height: 50px;
}