html {

}

.logo-img {
    height: 30px;
    width: 50px;
}

.header-container {
    background-color: darkgrey;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: auto;
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
}

.main {
    width: 960px;
    margin: auto;
}

.play-controls {
    background-color: green;
}