.logo-img {
    height: 23px;
    width: 48px;
}

.header-container {
    background-color: $s-grey;
    position: fixed;
    width: 100%;
    height: 46px;
}

.header-inner {
    display: flex;
    justify-content: space-around;
    width: 1079px;
    margin: auto;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: space-around;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-nav {
    display: block;
    padding: 12px 0;
    width: 104px;
    height: 46px;
    border-right: 1px solid #111;
    box-sizing: border-box;
    text-align: center;
    color: #ccc;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.clear-button {
	background-color: rgba(0,0,0,0);
    height: 24px;
    width: 64px;
    border: 1px solid #e5e5e5;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.orange-button {
	background-color: $s-orange;
    height: 26px;
    width: 118px;
}

.upload-button {
	color: white;
	background-color: black;
}

.logo-notin {
    background-image: url(logo.png);
}

.play-controls {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height: 48px;
}