.header-container {
    overflow: hidden;
    background-color: $background-nav;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    background: url(cloud.png) no-repeat 12px 11px $background-button-main;
    background-size: 48px 22px;
    height: 46px;
    width: 69px;
    box-sizing: border-box;
    outline: 0;
}

.logo-img {
    height: 23px;
    width: 48px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    width: 1079px;
    margin: auto;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: space-around;
}

.search-input {
    width: 100%;
    display: block;
    font-size: 14px;
}

.header-right {
    display: flex;
    align-items: center;

    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 100;
    font-stretch: normal;
    font-size: 14px;
    line-height: 1.5;
    font-family: Interstate, "Lucida Grande", Arial, sans-serif;
    color: $text-nav;
}

.header-nav {
    display: block;
    padding: 12px 0;
    width: 104px;
    height: 46px;
    border-right: 1px solid #111;
    box-sizing: border-box;
    text-align: center;
    color: $text-nav;

    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 100;
    font-stretch: normal;
    font-size: 14px;
    line-height: 1.5;
    font-family: Interstate, "Lucida Grande", Arial, sans-serif;
}

.clear-button {
	background-color: $background-clear;
    height: 24px;
    width: 64px;
    border: 1px solid $border-color-button-secondary;
    margin-right: 9px;
}

.orange-button {
    height: 26px;
    width: 118px;
    margin-left: 9px;
    margin-right: 9px;
}

.logo-notin {
    background-image: url(logo.png);
}

.upload-button {
    padding: 12px 10px 12px;
}

.nav-dropdown {
    width: 25px;
}