@keyframes fade-in {
  from {
    background-color: rgba(242,242,242,0);
  }
  to {
    background-color: rgba(242,242,242,0.9);   
  }
}

.modal {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(242,242,242,0.9);
    animation-name: fade-in;
    animation-duration: 0.4s;
}

@keyframes fade-out {
  from {
    background-color: rgba(242,242,242,0.9);
  }
  to {
    background-color: rgba(242,242,242,0);   
  }
}

.modal-out {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(242,242,242,0);
  animation-name: fade-out;
  animation-duration: 0.4s;
}

@keyframes fly-in {
  from {
    transform: translateY(-100%)
  }
  to {
    transform: translateY(0%)    
  }
}

.modal-content {
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  height: 620px;
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fefefe;
  margin-top: 72px;    
  animation-name: fly-in;
  animation-duration: 0.4s; 
}

@keyframes fly-out {
  from {
    transform: translateY(0%)
  }
  to {
    transform: translateY(-200%)
  }
}

.modal-content-out {
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  height: 620px;
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fefefe;
  margin-top: 72px;    
  animation-name: fly-out;
  animation-duration: 0.4s;
}

.session-submit {
  height: 40px;
  width: 400px;
  margin-top: 20px;
	border-radius: 3px;
	transition: background-color 0.3s;
  font-size: 16px;
  font-weight: 100;
	text-align: center;
}

.button-switch-form {
  margin-top: 30px;
  background-color: $background-modal-button;
  height: 40px;
  width: 400px;
  text-transform: none;
  font-size: 16px;
  font-weight: 100;
}

.button-demo-login {
  margin-top: 10px;
  background-color: $background-modal-button;
  height: 40px;
  width: 400px;
  text-transform: none;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 32px;
}

.login-input {
  width: 398px;
  height: 38px;
  font-size: 18px;
}

.link-session-form {
	color:$text-small-link;
  text-align: right;
  float: right;
  margin-right: 15px;
}

.link-privacy {
	color:#38d;
}

.disclaimer {
	margin-top: 42px;
  color: $text-fine-print;
}

.session-title {
  font-size: 30px;
  text-align: center;
}