.main-section {
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.track-panel-index {
    width: 100%;
}

.track-panel {
    height: 169px;
    border: 1px solid #888;
}

.panel-toggle {
    position: relative;
    top: 60px;
    left: 60px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
}

.panel-toggle-show {
    position: relative;
    top: 60px;
    left: 60px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
}

.panel-image {
    height: 100px;
    width: 100px;
}