.play-controls {
    display: flex;
    justify-content: space-around; 
    border-top: 1px solid #cecece;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f2f2f2;
    color: black;
    text-align: center;
    height: 48px;
    z-index: 50;
}

.play-controls-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    align-items: center;
    z-index: 51;
}

.toggle {
    position: fixed;
    bottom: 5px;
}

.tile-toggle {
    position: absolute;
    top: 60px;
    left: 60px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
}

.tile-toggle-show {
    position: absolute;
    top: 60px;
    left: 60px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
}

.splash-index {
    margin-top: 50px;
}

.tile-toggle{ display:none; }
.track-tile:hover .tile-toggle{ display:block; }

.main-toggle {
    
    z-index: 51;
}

.main-toggle-show {
   
    z-index: 51;
}

.play-controls-song-info {
    display: flex;
    flex-direction: row;
    height: 46px;
    align-items: center;
}

.play-controls-header {
    display: flex;
    flex-direction: column;
    height: 46px;
}

.control-pic {
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

.play-controls-title {
    font-size: 11px;
    margin: 0;
    color: #666;
}

.play-controls-title:hover {
    color: #333;
    cursor: pointer;
}

.play-controls-artist {
    font-size: 11px;
    margin: 0;
    color: #999;
}

.play-controls-artist:hover {
    color: #333;
}