.profile-content {
    display: flex;
    flex-direction: column;
}

.profile-header {
    display: flex;
    height: 260px;
    border: solid 1px grey;
    align-items: center;
    background: linear-gradient(#64e6a5, #91b3e5);
}

.profile-pic-container {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.profile-name {
    height: 200px;
}

.profile-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-body {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.upload-pic-button {
    height: 30px;
}

.profile-pic-form {
    display: flex;
    flex-direction: column;
    .picture-update {
        margin: 5px;
        color: white;
        background-color: #4285f4;
        text-align: center;
    }
    .picture-update:hover {
        cursor: pointer;
    }
}