.search-header {
    width: 100%;
    margin-right: 10px;
    .search-input {
        height: 28px;
        width: 100%;
        display: block;
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .search-input:focus {
        background: #fff;
    }
    .search-preview-list {
        position: absolute;
        top: 46px;
        background-color: #333;
        width: auto;
        .search-term-item {
            background-color: #333;
            padding: 10px;
            font-size: 14px;
            color: #ccc;
            cursor: pointer;
        }

        .search-preview-item {
            background-color: #111;
            padding: 10px;
            font-size: 14px;
            color: #ccc;
            cursor: pointer;
        }
        .search-preview-item:hover {
            background-color: #333;
        }
        .search-preview-empty {
            background-color: #111;
            padding: 10px;
            font-size: 14px;
            color: #ccc;
        }
    }
}

.search-splash {
    position: relative;
    width: 600px;
    margin: 0 auto;
    z-index: 40;

    .search-input {
        height: 46px;
        width: 100%;
        display: block;
        font-size: 18px;
        margin: 0 auto;
        background: #f2f2f2;
        padding-left: 17px;
    }

    .search-preview-list {
        position: absolute;
        top: 46px;
        background-color: #333;
        width: auto;
        .search-term-item {
            background-color: #333;
            padding: 10px;
            font-size: 14px;
            color: #ccc;
            cursor: pointer;
        }

        .search-preview-item {
            background-color: #111;
            padding: 10px;
            font-size: 14px;
            color: #ccc;
            cursor: pointer;
        }
        .search-preview-item:hover {
            background-color: #333;
        }
        .search-preview-empty {
            background-color: #111;
            padding: 10px;
            font-size: 14px;
            color: #ccc;
        }
    }
}

.profile-banner {
    display: flex;
    margin: 20px;
    box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.1);
}

.user-panel-link {
    font-size: 30px;
}

.mini-user-container {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 100px;
}

.mini-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}