.splash {
    box-sizing: border-box;
    margin: auto;
    height: 100vh;
    max-width: 1240px;
	font-family: $sans-serif;
    font-size: 12px;
    background-color: white;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: rgb(255, 85, 0);
}

.header-splash {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 450px;
    width: 100%;
    padding: 12px;
    background: image-url('landing_header_1.jpg');
}

.inner-header-splash {
    display: flex;
    justify-content: space-between;
}

.header-splash-left {
    display: flex;
    height: 46px;
    align-content: center;
    color: #fff;
    justify-content: flex-start;
}

.splash-welcome {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}

.logo {
    background: image-url('cloud.png') no-repeat 12px 11px;
    height: 46px;
    width: 69px;
    z-index: 5;
}

.logo-text {
    padding-top: 4px;
    font-size: 20px;
    font-weight: bold;
    align-content: center;
}

.splash-welcome {
    color: #fff;
}

.splash-center {
    margin-top: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-text {
    text-align: center;
    margin-bottom: 10px;
}

.splash-search-form {
    display:flex;
    justify-content: space-between;
    margin-right: 20px;
}

.splash-search {
    height: 46px;
    width: 600px;
    font-size: 14px;
}

.splash-upload {
    height: 46px;
    width: 169px;
    background-color: $background-button-main;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    margin-left: 20px;
}