.track-tile-index {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
}

.track-tile {
    position: relative;
    box-sizing: border-box;
    height: 172px;
    width: 172px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.1);
}

.track-tile-title {
    display: flex;
    flex-direction: column;
}

