.track-tile-index {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
}

.track-tile {
    position: relative;
    box-sizing: border-box;
    height: 172px;
    width: 172px;
    border: 1px solid black;
}

.track-tile-title {
    display: flex;
    flex-direction: column;
}

