.track-panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.track-user-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.play-button-small {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 8px;
}