.form-upload-container {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f2f2f2;
    width: 500px;
    box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
    padding: 20px;
}

.form-upload {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 300px;
}

.file-upload-button {
    border-radius: 3px;
    height: 40px;
    width: 400px;
    background: $blue-button;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

#audio-input {
    display: none;
}

#image-input {
    display: none;
}