.form-upload-container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-upload {
    display: flex;
    justify-content: center;
    flex-direction: column;
}